img {
  width: 100%;
}

.wrapper {
  max-width: 560px;
  margin: 0 auto;
}

.wrapper body {
  font-family: 'Roboto', sans-serif;
}

.wrapper label {
  font-family: 'Roboto', sans-serif;
}

.wrapper ul{
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: sans-serif;
}

.wrapper p{
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  }


  .wrapper nav {
    background-color:lightgreen;
  }
  .wrapper nav {
    background-color: lightgreen;

  }
  .wrapper nav ul{
    list-style: none;
    padding: 30;
    margin-top: 30;

  }
.wrapper nav ul li{
  display: inline-block;
  padding: 10px 10px;
}


  .wrapper nav ul li:hover {
    background: #red;
  }

  .wrapper nav ul li:hover a {
    text-decoration: none;
    color: black
  }
    .wrapper nav ul li a {
      text-decoration: none;
      color: #green
    }


  @media(min-width:600px){
    h1 {
      color:yellow
      front-family:
    }
